@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
html {
    font-family: "Rubik", sans-serif;
}

body {
    width: 100%;
    background-color: #212435;
}

#__nuxt {
    height: 100vh;
    width: 100%;
    background-color: #212435;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}